<div class="container" stlye="justify-content: center">
  <h1 class="center" style="font-family: cambria">ABOUT ME</h1>
  <hr />
  <h2 class="center" style="font-family: cambria">Introduction</h2>
  <img
    class="center"
    style="max-width: 250px"
    src="/assets/img/biopicture.JPG"
    alt="ALT"
  />

  <p style="font-size: 1.25em; line-height: 1.3; font-family: Cambria">
    My name is Sijun Kim, and I am from South Korea. I am a resilient developer
    who appreciates challenges and thrives on them. I do not fear failing or
    making mistakes when I face challenges. Instead, I take them as
    opportunities to exceed my limit by learning new tools, techniques, and
    approaches. I will continue to find challenges, educate myself on new
    skills, and always be ready to integrate new technologies into practice.
  </p>
  <hr />
  <h2 class="center" style="font-family: cambria">Undergraduate</h2>
  <div class="row">
    <img
      class="center"
      style="max-width: 500px"
      src="/assets/img/developing.jpg"
      alt="ALT"
    />
    <img
      class="center"
      style="max-width: 500px"
      src="/assets/img/SSC.jpg"
      alt="ALT"
    />
  </div>

  <p style="font-size: 1.25em; line-height: 1.3; font-family: Cambria">
    I graduated high school in Kentucky, and I am currently pursuing a computer
    science degree at Eastern Kentucky University. Throughout college, I have
    built a strong foundation in computer science concepts such as data
    structure, database design, algorithms, computer architecture, networking,
    software testing, and cybersecurity.
  </p>

  <p style="font-size: 1.25em; line-height: 1.3; font-family: Cambria">
    Not only have I gained a lot of knowledge in Computer Science, but I also
    had the privilege to work as a tutor, mentor, teaching assistant, and junior
    developer as I pursue my undergraduate degree. I built excellent
    communications skill from these jobs, and they allowed me to retain and
    apply the knowledge that I learned in class, which greatly enhanced my
    understanding of computer science.
  </p>

  <hr />
  <h2 class="center" style="font-family: cambria">Next Goals</h2>
  <p style="font-size: 1.25em; line-height: 1.3; font-family: Cambria">
    After graduation, I would like to work for an organization where I could
    contribute my knowledge and skills, and at the same time, grow and learn. I
    want to be exposed to as many different areas as possible in a development
    process both in frontend and backend. I am also planning on pursuing a
    master’s degree in Cybersecurity simultaneously. I want to be able to not
    only develop programs but also protect the data and information from attacks
    in cyber settings.
  </p>

  <hr />
  <h2 class="center" style="font-family: cambria">Hobbies</h2>
  <img
    class="center"
    style="max-width: 250px"
    src="/assets/img/deadliftBio.PNG"
    alt="ALT"
  />
  <p style="font-size: 1.25em; line-height: 1.3; font-family: Cambria">
    On a side note, I love weightlifting, playing tennis, grilling, and
    traveling. The countries/states I have traveled includes Korea, China,
    Canada, the Philippines, Rhode Island, New York, Kentucky, Illinois, Utah,
    Arizona, Georgia, Tennessee, Idaho, Ohio, and Hawaii. I am planning on
    traveling North Carolina next.
  </p>
</div>
