<div class="container" stlye="justify-content: center">
  <h1 class="center">Contacts</h1>
  <h5 class="center">
    If you have any questions about me please email me at junniekim12@gmail.com
    or use the contact form below!
  </h5>
  <div class="row">
    <form
      class="col-lg-12 center"
      action="https://formspree.io/f/xyyvyklv"
      method="POST"
    >
      <div class="col-lg-12">
        <label style="color: black">
          Name<br />
          <input
            placeholder="Name"
            type="text"
            name="name"
            style="
              min-width: 270px;
              background-color: transparent;
              border: 2px solid black;
              border-radius: 15px;
              outline: none;
              text-indent: 10px;
            "
          />
        </label>
      </div>
      <div class="col-lg-12">
        <label style="color: black">
          Email<br />
          <input
            placeholder="Email"
            type="email"
            name="email"
            style="
              min-width: 270px;
              background-color: transparent;
              border: 2px solid black;
              border-radius: 15px;
              outline: none;
              text-indent: 10px;
            "
          />
        </label>
      </div>
      <div class="col-lg-12">
        <label style="color: black">
          Message<br />
          <textarea
            placeholder="Message"
            name="message"
            style="
              min-width: 270px;
              min-height: 180px;
              resize: vertical;
              background-color: transparent;
              border: 2px solid black;
              border-radius: 15px;
              outline: none;
            "
          ></textarea>
        </label>
      </div>
      <button
        class="btn btn-danger"
        type="reset"
        style="border: 2px solid; border-radius: 15px; width: 120px"
      >
        Reset
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        style="border: 2px solid; border-radius: 15px; width: 120px"
      >
        Send
      </button>
    </form>
  </div>
</div>
