<div class="container">
  <h1 class="center" style="font-family: cambria">PROJECTS</h1>
  <h5 class="center" style="font-family: cambria">
    Most can be found in my GitHub page
  </h5>
  <div class="panel mb-4 p-4" *ngFor="let x of projects; let i = index">
    <h2 class="col-lg-12 center" style="font-family: cambria">
      {{ i + 1 }}. {{ x.title }}
    </h2>
    <div>
      <img class="center" src="{{ x.picture }}" alt="ALT" />
    </div>

    <div class="col-lg-12 center" style="font-family: cambria">
      <a
        *ngIf="x.link"
        style="font-weight: bold; font-size: 20px"
        href="{{ x.link }}"
        >Click to check out!</a
      >

      <div style="font-size: 1.25em">{{ x.description }}</div>
    </div>
    <div
      class="col-lg-12 center"
      style="font-size: 1.25em; font-family: cambria"
    >
      Duration: {{ x.duration }}
    </div>
    <div
      class="col-lg-12 center"
      style="font-size: 1.25em; font-family: cambria"
    >
      Tools: {{ x.tools }}
    </div>
  </div>
</div>
