<div class="container">
  <h1 class="center">Projects</h1>
  <h6 class="center">All can be found in my GitHub Page</h6>
  <div *ngFor="let x of projects">
    <hr />
    <h3 class="col-lg-12 center">{{ x.title }}</h3>
    <div>
      <img class="center" src="{{ x.picture }}" alt="ALT" />
    </div>

    <div class="col-lg-12 center">
      <h6 class="center">Project Summary</h6>
      {{ x.description }}
    </div>
    <div class="col-lg-12 center">Duration: {{ x.duration }}</div>
    <div class="col-lg-12 center">Tools: {{ x.tools }}</div>
  </div>
</div>
