img {
  width: 100%;
  max-width: 550px;
}
.center {
  text-align: center;
}
img.center {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
p {
  text-indent: 30px;
}
.panel {
  box-shadow: 10px 10px 30px rgb(218, 218, 218);
  border-radius: 12px;
  border: 1px solid #ddd;
}
