<div class="container">
  <h1 class="col-lg-12" style="font-family: cambria; text-align: center">
    Hi, my name is
    <span
      class="animate-charcter spin1"
      style="font-size: 50px; font-family: Consolas"
      >Sijun</span
    >!
  </h1>

  <hr />
  <div
    [routerLinkActive]="['link-active']"
    class="row"
    style="text-align: center; font-family: Bahnschrift Light"
  >
    <div class="col-lg-4 col-md-4 col-sm-4 col-6">
      <a href="javascript:void(0)">
        <img
          class="option"
          src="/assets/img/bio.png"
          id="bioImage"
          [routerLink]="['bio']"
          alt="bioImage"
        />
      </a>
      <br />
      <h5>About Me</h5>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-6">
      <a href="javascript:void(0)"
        ><img
          class="option"
          src="/assets/img/resume.png"
          [routerLink]="['resume']"
          id="resumeImage"
          alt="resumeImage"
      /></a>
      <br />
      <h5>Resume</h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-6">
      <a href="javascript:void(0)">
        <img
          class="option"
          [routerLink]="['experience']"
          src="/assets/img/experience.png"
          id="experienceImage"
          alt="experienceImage"
        />
      </a>
      <br />
      <h5>Experiences</h5>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
      <a href="javascript:void(0)">
        <img
          class="option"
          src="/assets/img/award.png"
          id="awardImage"
          [routerLink]="['award']"
          alt="awardImage"
        />
      </a>
      <br />
      <h5>Awards</h5>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
      <a href="javascript:void(0)"
        ><img
          class="option"
          [routerLink]="['certification']"
          src="/assets/img/certificate.png"
          id="certificateImage"
          alt="certificateImage"
      /></a>

      <br />
      <h5>Certifications</h5>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
      <a href="javascript:void(0)">
        <img
          class="option"
          src="/assets/img/project.png"
          id="projectImage"
          [routerLink]="['project']"
          alt="projectImage"
      /></a>

      <br />
      <h5>Projects</h5>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
      <a href="javascript:void(0)"
        ><img
          class="option"
          [routerLink]="['contact']"
          src="/assets/img/contact.png"
          id="contactImage"
          alt="contactImage"
      /></a>

      <br />
      <h5>Contacts</h5>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
      <a
        href="https://www.linkedin.com/in/sijun-kim-4b7997258/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="option"
          src="/assets/img/linkedIn.png"
          id="linkedInImage"
          alt="linkedInImage"
        />
      </a>
      <br />
      <h5>LinkedIn</h5>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <a
        href="https://github.com/junniekim"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="option"
          src="/assets/img/git.png"
          id="gitImage"
          alt="gitImage"
        />
      </a>
      <br />
      <h5>GitHub</h5>
    </div>
  </div>
</div>
