<div class="container">
  <h1 class="col-lg-12" style="text-align: center">Hi, my name is Sijun</h1>
  <br />

  <div class="row" style="text-align: center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img src="/assets/img/bio.png" id="bioImage" alt="bioImage" />
      <br />
      Bio
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img src="/assets/img/resume.png" id="resumeImage" alt="resumeImage" />
      <br />
      Resume
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img
        src="/assets/img/experience.png"
        id="experienceImage"
        alt="experienceImage"
      />
      <br />Experience
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="/assets/img/award.png" id="awardImage" alt="awardImage" />
      <br />
      Award
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img
        src="/assets/img/certificate.png"
        id="certificateImage"
        alt="certificateImage"
      />
      <br />
      Certification
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="/assets/img/project.png" id="projectImage" alt="projectImage" />
      <br />
      Project
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="/assets/img/contact.png" id="contactImage" alt="contactImage" />
      <br />
      Contact
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img
        src="/assets/img/linkedIn.png"
        id="linkedInImage"
        alt="linkedInImage"
      />
      <br />
      LinkedIn
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img src="/assets/img/git.png" id="gitImage" alt="gitImage" />
      <br />
      Github
    </div>
  </div>
</div>
