<div class="container">
  <h1 class="center">Resume</h1>
  <p class="center" style="font-size: 1.25em; line-height: 1.3">
    Please click the button below to download my resume.
    <br />
    Thank you for your interest and consideration, and please feel free to email
    me for any furhter questions
  </p>
  <div class="center">
    <a href="/assets/img/myResume.pdf" download style="text-decoration: none">
      <button class="btn btn-primary">Download</button>
    </a>
  </div>

  <img class="center" src="/assets/img/thankYou.jpg" alt="ALT" />
</div>
